:root {
    word-break: break-word;
    margin: 0em;
    padding: 0em;
    font-family: 'Droid Serif', serif;
    line-height:1.3em;
    font-size: 20px;
}

.reading_notes_book_title {
  font-style: italic;
  font-family: 'Fira Mono';
  display: block;
  word-spacing: -5px;
}

.reading_notes_book_title_prefix {
  font-family: 'Fira Mono';
  white-space: nowrap;
  word-spacing: -5px;
  font-size: 0.6em;
  margin-bottom: 0.3em;
  display: block;
}

.nav {
    margin: 1em 0 2em 0;
    text-align: right;
}

.header > p,
.nav a {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    color: #959595;
    text-decoration: none;
    margin-bottom: 0;
}

.header > p {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    color: #959595;
    text-decoration: none;
    margin: 0;
}

.footer p {
    clear: both;
    margin-bottom: 0;
}
.footer p, .footer a, .monospace {
    font-family: 'Fira Mono', monospace;
    font-size: 0.875em;
    color: #959595;
}
.monospace_date {
    font-family: 'Fira Mono', monospace;
    color: #959595;
}
img {
    display: block;
}
p {
    margin-top: 0em;
    line-height:1.7;
}

.nav a + a {
    margin-left: 0.5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fira Mono', monospace;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -8px;
    margin-right: -8px;
    font-weight: 600;
}

.no-decoration {
    text-decoration: none;
}


div.header > h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Fira Mono', serif;
    line-height: 1.2;
}

code {
    /* font-family: 'Fira Mono', monospace; */
    font-family: 'Cousine', monospace;
    font-size: 0.9em;
}

blockquote *, pre code {
    font-family: 'Fira Mono', monospace;
    line-height:1.5;
}

blockquote {
    margin: 1.5em 0em 1.5em 2em;
}

pre {
    margin: 0em 1em 1em 1em;
    overflow-x: auto
}

.serif {
    font-family: 'Droid Serif', serif;
}

.header {
    margin: 0em 0em 2em;
}

div.footer {
    margin: 4em 0 0;
    width: 100%;
}

body {
    color: #222;
    margin: 0;
}

.horizontalContainer {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.verticalContainer {
    padding: 2em 0.5em;
    max-width: 36rem;
    flex: 1;
    overflow-x: hidden;
}

hr {
    width: 50%;
    margin: 2em auto;
}

.footnotes {
    font-size: 0.9em;
    margin-top: 4em;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  :root {
    font-size: 42px;
  }

  .verticalContainer {
      max-width: initial !important;
  }

  div.footer {
      margin: 2em 0 0;
      width: 100%;
  }
}
